body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#Home {

  transition: all 0.4s;
}

#graph {
  transition-delay: 1s;
  transition-timing-function: ease-out;
  transition: opacity 0.4s;
}
#bar{
  transition-delay: 3s;
  transition-timing-function: ease-out;
  transition: opacity 10s;
}
#close{
  transition: all 1s;
}
#close:hover{
  color: red;
}
#xx{
  transition-delay:3s ;
  transition: all 1000s;
}